  <div class="text-center" id="home_container">
    <div class="p-5 mb-4 bg-secondary rounded-3 text-center jumbotron">
      <div class="container-fluid py-5 jumbotext">
        <h1 class="display-5 fw-bold">Alpha Blog</h1>
        <p class="fs-4">The Premier Blogging App from Udemy's Rails Crash course.</p>
        <button class="btn btn-success btn-lg" type="button">
          <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
        </button>
      </div>
    </div>
  </div>
